body,html{
	background-color: #DBDBD9;
}
.head{
	 background-image: url("images/header-section.jpg");
	 height: 500px;
	 background-position: center;
	 background-repeat: no-repeat;
	 background-size: cover;
	 position: relative;
}
.text{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.container{
	max-width: 1200px;
	margin: auto;
	overflow: auto;
	margin-right: 255px;
}
.gallery{
	margin: 5px;
	border: 1px solid #ccc;
	float: left;
	width: 300px;
}
.gallery img{
	width:100%;
	height: auto;
}
.text-block1 {
  
  position: absolute;
  background-color: white;
  color: black;
  bottom: 240px;
  margin-left: 202px;
  padding-left: 15px;
  padding-right: 15px;
 
}
.text-block2 {
  
  position: absolute;
  background-color: white;
  color: black;
  bottom: 240px;
  margin-left: 218px;
  padding-left: 20px;
  padding-right: 20px;
 
}
.text-block3 {
  
  position: absolute;
  background-color: white;
  color: black;
  bottom: 240px;
  margin-left: 212px;
  padding-left: 18px;
  padding-right: 18px;
 
}
.text-block4 {
  
  position: absolute;
  background-color: white;
  color: black;
  bottom: -171px;
  margin-left: 225px;
  padding-left: 20px;
  padding-right: 20px;
 
}
.text-block5 {
  
  position: absolute;
  background-color: white;
  color: black;
  bottom: -171px;
  margin-left: 223px;
  padding-left: 20px;
  padding-right: 20px;
 
}
.text-block6 {
  
position: absolute;
  background-color: white;
  color: black;
  bottom: -171px;
  margin-left: 203px;
  padding-left: 20px;
  padding-right: 20px;
 
}

.price-block1 {
  
  position: absolute;
  bottom: -50px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #ff751a;
  color: white;

}
.price-block2 {
  
  position: absolute;
  bottom: -50px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #ff751a;
  color: white;

}
.price-block3 {
  
  position: absolute;
  bottom: -50px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #ff751a;
  color: white;

}
.price-block4 {
  
  position: absolute;
  bottom: -460px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #ff751a;
  color: white;

}
.price-block5 {
  
  position: absolute;
  bottom: -460px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #ff751a;
  color: white;

}
.price-block6 {
  
  position: absolute;
  bottom: -460px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #ff751a;
  color: white;

}

/*#contactpage{
	text-align: center;
	background-color: #ff751a;
	height: 150px;
	width: 700px;
	

}*/

 #contactpage{
 	text-align: center;
 	background-color: #ff751a;
	 position: absolute;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);
}